/* Flexbox */

// make a flex box

@mixin d-flex($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}


/* Grid */

// make a grid

@mixin d-grid($grid-template-columns, $grid-template-rows, $gap) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
  gap: $gap;
}

// set a grid item

@mixin grid($grid-row, $grid-column) {
  grid-row: $grid-row;
  grid-column: $grid-column;
}


// set gaps 

@mixin gap($row-gap, $column-gap) {
  row-gap: $row-gap;
  column-gap: $column-gap;
}


/* Breakpoints media queries */

@mixin sm {
  @media only screen and (min-width:$sm) {@content;} // 580px
}
@mixin m {
  @media only screen and (min-width:$m) {@content;} // 768px
}
@mixin l {
  @media only screen and (min-width:$l) {@content;} // 1024px
}
@mixin xl {
  @media only screen and (min-width:$xl) {@content;} // 1200px
}
@mixin xxl {
  @media only screen and (min-width:$xxl) {@content;} // 1440px
}
@mixin xxxl {
  @media only screen and (min-width:$xxxl) {@content;} // 1920px
}

/* Text */

@mixin h1 {
  font-family: "Roboto-bold";
  font-style: normal;
  font-size: $h1-mobile-fs;
  line-height: 120%;
  letter-spacing: -1px;

  @include m {
    font-size: $h1-tablet-fs;
  }
  @include l {
    font-size: $h1-fs;
  }
}

@mixin h2 {
  font-family: "Roboto-bold";
  font-style: normal;
  font-size: $h2-mobile-fs;
  line-height: 128%;
  letter-spacing: -0.5px;
  color: $text;

  @include m {
    font-size: $h2-tablet-fs;
  }
  @include l {
    font-size: $h2-fs;
  }

}

@mixin subtitle {
  font-family: "Roboto-regular";
  font-style: normal;
  font-size: $subtitle-mobile-fs;
  line-height: 140%;
  letter-spacing: -0.25px;
  color: $text;

  @include m {
    font-size: $subtitle-tablet-fs;
  }
  @include l {
    font-size: $subtitle-fs;
  }
}

@mixin body-bold {
font-family: "Roboto-bold";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165%;
color: $text;
}

@mixin body-small {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  color: $text;
}

@mixin body-regular {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: $text;
}