@import "src/app/styles/_global.scss";

.container {
  @include d-flex(row, center, center, null);
  width: 100%;  
  position: relative;

  img {
    width: 100%;
    filter: blur(2px);
    z-index: 0;
  }
  h3 {
    background-color: $primary;
    padding: 20px 40px;
    border-radius: $border-radius-small;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}