@import "src/app/styles/_global.scss";

.container {
  @include d-flex(column, null, null, .5rem);
  input {
    padding: 16px 20px;
    background-color:#fff;
    border: 1px solid $primary; 
    border-radius: $border-radius-small;
  }
  label {
    font-size: $body-regular-fs;
    color: $text;
  }
}

.errorMessage {
  @include d-flex(row, null, center, .5rem);
  color: $error;
}