@import "src/app/styles/_global.scss";

.button {
  @include d-flex(row, center, center, .5rem);
  padding: 12px 32px;
  border-radius: $border-radius-small;
  font-size: $button-fs;
  cursor: pointer;
  background-color: $primary;
  color: #fff; 
  border: none;
  span.right {
    order:-1;
  }
}

.secondary {
  border: solid 1px $primary;
  background-color: #fff;
  color: $primary; 
}

.rounded {
  border-radius: 50px;
}

.disabled {
  background-color: $light-grey-bg;
}