@import "src/app/styles/_global.scss";

.App {
  font-family: "Roboto-regular";
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("../app/assets/img/background.png");
  
  h1 {
    @include h1;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}