@import "src/app/styles/_global.scss";

.App {
  font-family: "Roboto-regular";
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  @include d-grid(1fr, 100px auto, null);
  background-image: url("../app/assets/img/background.png");
}