@import "src/app/styles/_global.scss";

.App {
  font-family: "Roboto-regular";
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  // background-image: url("../app/assets/img/background.png");
  background-color: $light-blue-bg;
  
  h1 {
    @include h1;
    margin-bottom: 1rem;
  }
  h2 {
    @include h2;
    margin-bottom: .8rem;
  }
  h3 {
    @include subtitle;
    margin-bottom: .5rem;
  }

  a {
    text-decoration: none;
  }

  p, h1, h2, h3, span {
    word-wrap: break-word;
  }
  p {
    margin: 0;
  }

    h1, h2, h3, h4 {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }

}

// prevent scroll while a modal is open
.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
