@import "src/app/styles/_global.scss";

.container {
  width: 100%;
  padding: 40px;
  @include d-flex(column, center, center, .8rem);
  line-height: 28.8px;
  text-align: center;
  background: $primary;
  border-radius: $border-radius-large;
  p {
    color: #fff;
  }
}
.title {
  color:#fff !important;
}
.phone {
  font-weight: bold;
}