@import "src/app/styles/_global.scss";

.container {
  width: 100%;
  background-color: #fff;
  border-radius: $border-radius-large;
  box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.25);
  padding: 40px 20px;
}