@import "src/app/styles/_global.scss";

.container {
  width: 100%;
  height:100px;
  @include d-flex(row, null, center, 2rem);
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.25);
  position: fixed;
  z-index: 2;
}

.navContainer {
  margin-left: auto;
}

.logo {
  width: 120px;
  @include sm {
    width: 150px;
  }
}

