@import "src/app/styles/_global.scss";

.title {
  span {
    color: $secondary;
  }
}

.about {
  @include d-flex(column, center, center, 1rem);
  line-height: 28.8px;
  color: $text;

  @include m {
    flex-direction: row;
  }
}