@import "src/app/styles/_global.scss";

.container {
  @include d-flex(column, flex-start, center, 40px);
}

.profile {
  @include d-flex(row, flex-start, flex-start, 40px);
  &__avatar {
    width:186px;
    height:186px;
    border-radius: $border-radius-small;
  }
}

.info {
  @include d-flex(column, flex-start, flex-start, 1rem);
  &__contact {
    @include d-grid(1fr, auto, .5rem);
    @include m {
      grid-template-columns: repeat(2, minmax(auto, max-content));
      grid-template-rows: 1fr 1fr;
    }
    & > p {
      @include body-bold;
      color: $text;
  
      span {
        font-family: "Roboto-regular";
      }
    }

  }
}