@import "src/app/styles/_global.scss";

.container {
  @include d-flex(column, flex-start, center, 40px);
}

.header {
  @include d-flex(row, flex-start, center, 2rem);
}

.attributes {
  @include d-grid(1fr 1fr, 1fr 1fr, null);
  @include gap(20px, 40px);
  &__item {
    @include d-flex(row, flex-start, center, 2rem);
    background: $light-grey-bg;
    border-radius: $border-radius-small;
    padding: 20px;
  }
}

.info {
  @include d-flex(column, flex-start, flex-start, .5rem);
  &__value {
    @include h2;
  }
}

.header {
  &__machineImg {
    width: 120px;
  height: 120px;
  }
}