@import "src/app/styles/_global.scss";

.container {
  @include d-flex(column, flex-start, center, 40px);
}

.header {
  @include d-flex(row, flex-start, center, 2rem);
}

.attributes {
  @include d-grid(1fr, 1fr 1fr 1fr, 20px);
  @include m {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include gap(20px, 40px);
  }
  
  &__item {
    @include d-flex(row, flex-start, center, 2rem);
    background: $light-grey-bg;
    border-radius: $border-radius-small;
    padding: 20px;
  }
}

.info {
  @include d-flex(column, flex-start, flex-start, .5rem);
  &__value {
    @include h2;
  }
}

.header {
  &__machineImg {
    width: 120px;
  height: 120px;
  }
  &__state {
    @include d-flex(row, null, center, .5rem);
    margin-left: auto;
    span {
      display: block;
      height:1rem;
      width: 1rem;
      // background-color : $error;
      border-radius: 50%;
    }
  }
}