@import "src/app/styles/_global.scss";

.container {
  padding: 40px;
  background-color: #fff; 
  border-radius: $border-radius-large;
}

.info {
  &__machines {
    & > * {
      @include d-flex(row, flex-start, center, .5rem);
    }
  }
}